.app {
  min-width: 20rem;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  > * {
    flex: 1;
    &:first-child,
    &:last-child {
      //header & footer
      flex: 0;
    }
  }
}
