@import '../../styles/utils/variables';

.flat-sheet {
  margin: 0.75rem 0;
  color: $color-primary;
  &__header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    align-items: center;
    grid-template-areas:
      'title title'
      'location location'
      'taglist taglist'
      'rating host';
    margin-top: 0.75rem;
    margin-bottom: 1rem;
    @media only screen and (min-width: 90rem) {
      grid-template-rows: repeat(3, auto);
      grid-template-areas:
        'title host'
        'location .'
        'taglist rating';
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }
  &__title {
    grid-area: title;
    font-weight: 500;
    font-size: 1.125rem;
    @media only screen and (min-width: 90rem) {
      font-size: 2.25rem;
    }
  }
  &__location {
    grid-area: location;
    font-weight: 500;
    font-size: 0.875rem;
    margin-top: 0.25rem;
    @media only screen and (min-width: 90rem) {
      font-size: 1.125rem;
      margin-top: 0;
    }
  }
  &__taglist {
    grid-area: taglist;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    @media only screen and (min-width: 90rem) {
      margin-top: 1.25rem;
      margin-bottom: 0;
    }
  }
  &__rating {
    grid-area: rating;
    @media only screen and (min-width: 90rem) {
      justify-self: flex-end;
      align-self: flex-start;
    }
  }
  &__host {
    grid-area: host;
    margin-top: 0.375rem;
    margin-bottom: 0.375rem;
    @media only screen and (min-width: 90rem) {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
