@import '../../styles/utils/variables';

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1.25rem;
  justify-items: stretch;
  align-items: stretch;
  width: 100%;
  margin: 1.25rem 0;
  @media only screen and (min-width: 90rem) {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 3rem;
    column-gap: 3.75rem;
    margin: 2.75rem 0;
    padding: 3.5rem 3rem;
    background-color: $color-secondary;
    border-radius: 1.5rem;
  }
}
