@import '../../styles/utils/variables';

.error404 {
  color: $color-primary;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
  &__number {
    font-weight: 700;
    font-size: 6rem;
    @media only screen and (min-width: 90rem) {
      font-size: 18rem;
    }
  }
  &__message {
    font-weight: 500;
    font-size: 1.125rem;
    @media only screen and (min-width: 90rem) {
      font-size: 2.25rem;
    }
  }
  &__link {
    text-decoration: underline;
    font-weight: 500;
    font-size: 0.875rem;
    margin-top: 9rem;
    @media only screen and (min-width: 90rem) {
      font-size: 1.125rem;
      margin-top: 12rem;
    }
  }
}
